.bash_history
.bash_logout
.bashrc
.cache/
.docker/
.hushlogin
.lesshst
.profile
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
blackauth/
data/
initial_data/
public/
tmp/
.tmux.conf
webapp/docker-compose-go.yml
webapp/docker-compose-java.yml
webapp/docker-compose-node.yml
webapp/docker-compose-perl.yml
webapp/docker-compose-php.yml
webapp/docker-compose-python.yml
webapp/go
webapp/java
webapp/node
webapp/perl
webapp/php
webapp/python
.gitconfig
log/
.wget-hsts
.dotnet/
.bundle/
.rbenv/
